:root {
    --primary-text-color:#212121;
    --accent-color:#2196F3;
    --text-color: #757575;
    --primary-white-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);    
    --back-color: #2F303A;
    --secondary-back-color: #F5F4FA;

}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

/* КОНТЕЙНЕРЫ И ОБЩИЙ СБРОС ГЕОМЕТРИИ*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid tomato; */
}

.section {
    padding: 94px 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Маркированные списки и линки */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

/* Header */
.header-menu {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ECECEC;;
}

/* Logo */
.logo {
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.logo, .accent {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}


/* Site nav */

.site-nav-list {
    display: flex;
    margin-left: 93px;
}

.site-nav-item .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.site-nav-item a:hover,
.site-nav-item a:focus {
    color: var(--accent-color);
}

.site-nav-item .link-current {
    color: var(--accent-color);
}

/* Contacts*/

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .item + .item {
    margin-left: 50px;
}

.contacts a {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* СТИЛИ ДЛЯ СТУДИИ */

.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Hero */
.hero {
    background-color: var(--back-color); 
    text-align: center;
    padding: 200px 0;
}

.hero-title {
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* .overlay {
max-width: 1600px;
min-height: 600px;
margin-left: auto;
margin-right: auto;
background-image: rgba(47, 48, 58, 0.4), url(../);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
} */


/* Button */
.primary-button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
    background-color: #188CE8;
}

/* Features */

.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-subtitle {
    margin-bottom: 10px;

    line-height: 1.14;
    text-transform: uppercase;
    font-size: inherit;
}

.features-text {
    color: var(--text-color);
    line-height: 1.71;
}

/* Work */

.work {
    padding-top: 0;
}

.work-list {
    display: flex;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

/* Team */

.team {
    background-color: var(--secondary-back-color);
}

.team-list {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item-text-container {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--primary-white-color);
    text-align: center;
}

.team-subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
}

/* СТИЛИ ДЛЯ ПОРТФОЛИО*/

/* Filter */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    border-radius: 4px;
    padding: 6px 22px;

    color: inherit;
    background-color: #F5F4FA;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.filter .active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}


/* Projects */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);
}

.progects-item-text-container {
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.projects-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.progects-subtitle {
    display: inline-block;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--back-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.address-item {
    list-style-type: none;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-list a {
font-style: normal;
line-height: 1.71;
}

.address-link {
    color: var(--primary-white-color);
}

.tel-link, .mail-link {
    color: var(--secondary-text-color);

}

.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color);
}

.mail-link:hover,
.mail-link:focus {
    color: var(--accent-color);
}
